<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    
    <!-- link to main stylesheet -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://maelc001.github.io/style.css">
    <link rel="stylesheet" href="https://maelc001.github.io/assets/css/style.css">
    <link rel="stylesheet" href="https://maelc001.github.io/assets/css/media-queries.css">
  </head>
  <body>
    <nav class="top-menu active">
      <div class="components">
        <ul class="navigation">
          <li><a href="https://maelc001.github.io/" rel="noreferrer noopener">Profile</a></li>
          <li><a href="https://maelc001.github.io/about/" rel="noreferrer noopener">À propos</a></li>
          <li><a href="https://maelc001.github.io/experience/" rel="noreferrer noopener">Expériences</a></li>
          <li><a href="https://maelc001.github.io/education/" rel="noreferrer noopener">Éducation</a></li>
          <li><a href="https://maelc001.github.io/competence/" rel="noreferrer noopener" rel="noreferrer noopener">Compétences</a></li>
          <li><a href="https://maelc001.github.io/projet/" rel="noreferrer noopener">Projets</a></li>
        </ul>
      </div>
    </nav>
    <div class="hamburger-button">
      <button type="button">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    
    <div class="container" >
    {{ content }}
    </div>
    
    <footer>
      <div class="jumbotron jumbo-background" id="information">
        <div id="col-logo">
          <a href="mailto:mael.charpentier@gmail.com" rel="noreferrer noopener" class="logo"><img src="https://maelc001.github.io/image/mail.png" alt="Me Contacter" title="Me Contacter" width="40px"></a>
          
          <br>
          <br>
          <a href="https://github.com/MaelC001" target="_blank" rel="noreferrer noopener" class="logo"><img src="https://maelc001.github.io/image/github.png" alt="GitHub" title="GitHub" width="40px"></a>
          
          <br>
          <br>
          <a href="https://repl.it/@mael1" target="_blank" rel="noreferrer noopener" class="logo"><img src="https://maelc001.github.io/image/repl-it.png" alt="Repl.it" title="Repl.it" width="100px"></a>
          
          <br>
          <br>
          <script id="_wau6zv">var _wau = _wau || []; _wau.push(["colored", "emgkz3y2bx", "6zv", "cccccc000000"]);</script><script async src="//waust.at/co.js"></script>
        </div>
      </div>
    </footer>
    
    <!-- link to main js -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script> 
    <script src="https://maelc001.github.io/assets/js/jquery-3.3.1.min.js"></script>
    <script src="https://maelc001.github.io/assets/js/jquery-migrate-3.0.0.min.js"></script>
    <script src="https://maelc001.github.io/assets/js/jquery.backstretch.min.js"></script>
    <script src="https://maelc001.github.io/assets/js/scripts.js"></script>
    <script src="https://maelc001.github.io/script.js"></script>
  </body>
</html>
